extends layout

block content
  h1 #{title}: #{book.title}

  if bookinstances.length
    p #[strong Delete the following books instances before attempting to delete this book.]

    div(style='margin-left:20px;margin-top:20px;')

    h4 Book Instances

    dl
      each bookinstance in bookinstances
        dt
          a(href=bookinstance.url) #{bookinstance._id}
        dd Status: #{bookinstance.status}

  else
    p Are you sure you want to delete this book? 

    form(method="post", action="")
      .form-group
        label(for="bookid")
          input#bookid.form-control(type='hidden', name='bookid', required='true', value=book._id)
        button.btn.btn-primary(type="submit") Delete

